@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}
canvas{
    border: 8px solid blue;
    background-image: url("../img/background/1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.fondoGame{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/fondo.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.gameOver{
    width: 54%;
    margin-left: 23%;
    margin-top: 8%;
    background: rgba(0, 0, 0, 0.7);
    padding: 50px;
    height: 67vh;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    padding: 25px 50px;
    background: transparent;
    border: none;
    margin: 30px;
    border: 1px solid white;
    border-radius: 90px;
    color: white;
    font-size: 30px;
    cursor:pointer
}

.noShow{
    display: none;
}

.columna{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.columna-doble{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
